/* .Site { */

/* display: flex; */

/* min-width: 100vw; */

/* min-height: 100vh; */

/* flex-direction: column; */

/* } */

/*
.Site-content {
    flex: 1;
} */

/* .navbar { */

/* text-align:center; */

/* display:inline-block; */

/* } */

/* .container { */

/* width: 100%; */

/* height: 100%; */

/* min-height: 100%; */

/* } */

/* .content { */

/* font-family: sans-serif; */

/* flex: 1; */

/* max-width: 100vw; */

/* min-height: 100%; */

/* margin-bottom: 0px; */

/* } */

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 0;
    /* flex-shrink: 0; */
    /* overflow: hidden; */
}

.control {
    display: flex;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* width: fit-content; */
    /* max-width: 100vw; */
}

.file {
    display: flex;
    /* margin-bottom: 5px; */
}

textarea {
    width: 90vw;
    /* height: 20vh; */
    resize: none;
    overflow-wrap: break-word;
    outline: none;
    /* white-space: pre; */
    /* overflow: scroll; */
}

textarea:focus {
    outline: none;
}

/* .button { */

/* display: flex; */

/* margin-top: 5px; */

/* margin-bottom: 5px; */

/* margin-left: 5px; */

/* margin-right: 5px; */

/* width: fit-content; */

/* } */

.chart {
    /* display:block; */
    position: absolute;
    /* background-size: 0%; */
    width: fit-content;
    /* resize: both; */
}

textarea::-webkit-input-placeholder {
    /* color: #f00; */
    font-size: 400%;
    font-family: 'Arial', serif, 'Helvetica', 'Meiryo', 'MS PGothic', sans-serif;
    font-weight: bold;
    /* font-style: italic; */
    /* text-decoration: underline; */
    text-transform: uppercase;
    opacity: 0.4;
    /* letter-spacing: 0.5em; */
}

/* ::-moz-placeholder{ */

/* } */

/* :-ms-input-placeholder{ */

/* } */
